<!DOCTYPE html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>About</h1>
    <p>Inventory application project, part of the Odin Project curriculum. Made using Express and PostgreSQL for practice.</p>
    <a href="https://github.com/Exudias/odin-inventory-application" target="_blank">GitHub</a><br><br>
    <a href="/">Home</a>
</body>