<!DOCTYPE html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Developers (<%= developers.length %>)</h1>
    <div>
        <ul>
        <% for (let i = 0; i < developers.length; i++) { %>
            <li>
                <a href="/developers/<%= developers[i].id %>"><%= developers[i].name %></a>
            </li>
        <% } %>
        </ul>
    </div>
    <a href="/developers/new"><button>Create new</button></a>
</body>