<div class="basic-view">
    <div class="basic-view-header">
        <h1>Developers (<%= developers.length %>)</h1>
        <a href="/developers/new"><button class="add-button">+</button></a>
    </div>
    <div>
        <ul>
        <% for (let i = 0; i < developers.length; i++) { %>
            <li>
                <a href="/developers/<%= developers[i].id %>"><%= developers[i].name %></a>
                <form action="/developers/<%= developers[i].id %>?_method=DELETE" method="POST">
                    <button type="submit" class="close-button">X</button>
                </form>
            </li>
        <% } %>
        </ul>
    </div>
</div>
