<div class="add-view">
    <h1>Update developer: <%=  dev.name %></h1>
    <% if (locals.errors) {%>
        <ul>
          <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
          <% }); %>
        </ul>
    <% } %>
    <form action="/developers/<%= id %>?_method=PUT" method="POST">
        <label>
            Developer name:
            <input type="text" name="new_name" value="<%= dev.name %>" minlength="1" maxlength="255" required/>
        </label>
        <button type="submit">Submit</button>
    </form>
</div>