<!DOCTYPE html>
<head>
    <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/developers">Developers</a>
        <a href="/games">Games</a>
        <a href="/genres">Genres</a>
        <a href="/about">About</a>
    </nav>
</body>