<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <% if (cssFile) { %>
        <link rel="stylesheet" href="<%= cssFile %>">
    <% } %>
    <script>
        window.addEventListener('load', function() {
            const firstFormElement = document.querySelector('form input, form select, form textarea');

            if (firstFormElement) {
                firstFormElement.focus();
                if (firstFormElement.tagName === 'INPUT' || firstFormElement.tagName === 'TEXTAREA') 
                {
                    const length = firstFormElement.value.length;
                    firstFormElement.setSelectionRange(length, length); // Move cursor to the end
                } 
                else if (firstFormElement.tagName === 'SELECT') 
                {
                    firstFormElement.selectedIndex = 0; // Select the first option
                }
            }
        });
    </script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/developers">Developers</a>
        <a href="/games">Games</a>
        <a href="/genres">Genres</a>
        <a href="/about">About</a>
    </nav>
    <%- body %>
</body>
</html>